@model Portfolio.Areas.Management.Models.LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

<div class="flex justify-center mt-10 md:mt-0">
<div class="w-full px-5 sm:w-1/2 lg:w-1/3">
  <form asp-area="Management" asp-controller="Auth" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm"></div>
    <div class="my-2">
        <label asp-for="Password"
            class=" text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"></label>
        <input asp-for="Password" autocomplete="off"
            class="px-2 py-0.5 peer placeholder-transparent w-full rounded-md bg-gray-100 border-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" />
        <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
    </div>
    <button class="px-3 py-1 bg-teal-500 text-white rounded">submit</button>
  </form>
</div>
</div>
